<section class="section summary-section">
<h2 class="section-title"><i class="fa fa-user"></i>Career Profile</h2>
<div class="summary">
    <p>I am currently pursuing my Masters in Data Science from Indiana University, Bloomington. I have completed my Undergraduate degree in electronics and communication Engineering and worked as a Software Developer for almost 3 years.I describe myself as a person with versatile skill-set, integrity and an enthusiasm.  I am looking for full time opportunities in a field of data science. You can <a href="#" target="_blank">download this free resume/CV template here</a></p>
</div><!--//summary-->
</section><!--//section-->