<section class="section summary-section">
<h2 class="section-title"><i class="fa fa-user"></i>Career Profile</h2>
<div class="summary">
    <p>Recent graduate from Indiana University, Bloomington with Masters in Data Science from with three years of software development / Data Science experience.

I describe myself as a person with versatile skill-set, integrity and an enthusiasm with in open mind to learn new things. I am looking for full time opportunities as Data Scientist | Data Engineer | Data Analyst. You can <a href="VenkataPrudhviRajIndana_MS_DS.pdf" download>download my resume/CV here</a></p>
</div><!--//summary-->
</section><!--//section-->