<section class="section experiences-section">
                <h2 class="section-title"><i class="fa fa-briefcase"></i>Experiences</h2>
                
                <div class="item">
                    <div class="meta">
                        <div class="upper-row">
                            <h3 class="job-title">Data Analyst</h3>
                            <div class="time">May 2016 - July 2016</div>
                        </div><!--//upper-row-->
                        <div class="company">Arborgold Software</div>
                    </div><!--//meta-->
                    <div class="details">
                        <p>Interpret data, analyze results using statistical techniques and provide ongoing reports.</p>  
                        <p>Assisting Development Staff with various data visualization techniques.</p>
						<p>UI enhancement</p>
                    </div><!--//details-->
                </div><!--//item-->
                
                <div class="item">
                    <div class="meta">
                        <div class="upper-row">
                            <h3 class="job-title">Software Developer</h3>
                            <div class="time">2014 - 2015</div>
                        </div><!--//upper-row-->
                        <div class="company">United Health Group , Hyderabad</div>
                    </div><!--//meta-->
                    <div class="details">
                        <p>Software Developement and support.</p>  
                    </div><!--//details-->
                </div><!--//item-->
                
                <div class="item">
                    <div class="meta">
                        <div class="upper-row">
                            <h3 class="job-title">Professional 1: Application Delivery</h3>
                            <div class="time">2012 - Dec 2014</div>
                        </div><!--//upper-row-->
                        <div class="company">Computer Sciences Corporation, Hyderabad</div>
                    </div><!--//meta-->
                    <div class="details">
                        <p>Software developement and support.</p>  
                    </div><!--//details-->
                </div><!--//item-->
                
            </section><!--//section-->