<section class="section experiences-section">
                <h2 class="section-title"><i class="fa fa-briefcase"></i>Experiences</h2>
                
				<div class="item">
                    <div class="meta">
                        <div class="upper-row">
                            <h3 class="job-title">Software Engineer Internship</h3>
                            <div class="time">Jun 2017 - Present</div>
                        </div><!--//upper-row-->
                        <div class="company">Bloom Insurance Agency</div>
                    </div><!--//meta-->
                    <div class="details">
                        <p>Implementing new features in an Enterprise facing product line using technologies such as C#, MVC, MVVM, ASP.NET, Xamarin Studio; as well as write software documentation, unit test, and QA test scripts.
Primarily responsibility:</p>
						<ul>
							<li>Design and spec development projects assigned.</li>
							<li>Design and implement proof of concept applications for projects.</li>
							<li>Design and implement unit test for code written.</li>
						</ul>
                    </div><!--//details-->
                </div><!--//item-->
				
				<div class="item">
                    <div class="meta">
                        <div class="upper-row">
                            <h3 class="job-title">Associate Instructor - I399/ I211(Python Courses)</h3>
                            <div class="time">Aug 2015 - May 2017</div>
                        </div><!--//upper-row-->
                        <div class="company">Indiana University Bloomington</div>
                    </div><!--//meta-->
                    <div class="details">
					<ul>
                        <li>Primary responsibility includes assisting the professor during lecture by monitoring the class, keep track of attendance and lead the lecture during the Professor's absence.</li>
						<li>Lead the lab lecture each week by explaining the concepts to students with the assistance of Python software and lecture work.</li>
						<li>Dedicate office hour timings (2hrs/week) to guide students who require help for the coursework.</li>
					</ul>
                    </div><!--//details-->
                </div><!--//item-->
				
                <div class="item">
                    <div class="meta">
                        <div class="upper-row">
                            <h3 class="job-title">Data Analyst</h3>
                            <div class="time">May 2016 - July 2016</div>
                        </div><!--//upper-row-->
                        <div class="company">Arborgold Software</div>
                    </div><!--//meta-->
                    <div class="details">
					<ul>
                        <li>A/B test to check if increase in customers is based on new production release.</li>
						<li>Created a web based tool to automatically generate reports / graphs with the aid of d3, kendo UI and dotnet in MVC architecture.</li>
					</ul>
                    </div><!--//details-->
                </div><!--//item-->
                
                <div class="item">
                    <div class="meta">
                        <div class="upper-row">
                            <h3 class="job-title">Software Developer</h3>
                            <div class="time">Dec 2014 - 2015</div>
                        </div><!--//upper-row-->
                        <div class="company">United Health Group , Hyderabad</div>
                    </div><!--//meta-->
                    <div class="details">
					<ul>
                        <li>Requirement gathering by having daily meetings with project sponsors and stakeholders to understand business problem.</li> 
						<li>Engaged in bringing the structure to each request and translate requirements into an analytic approach.</li> 
						<li>Client claim data Visualization in Excel, Tableau and R.</li> 
						<li>Developed a classification model based on claim data to predict the probability of new claim being rejected.</li> 
						<li>Achieved an accuracy of 86% after model parameter tuning and cross validation.</li>
					</ul>
                    </div><!--//details-->
                </div><!--//item-->
                
                <div class="item">
                    <div class="meta">
                        <div class="upper-row">
                            <h3 class="job-title">Professional 1: Application Delivery</h3>
                            <div class="time">2012 - Dec 2014</div>
                        </div><!--//upper-row-->
                        <div class="company">Computer Sciences Corporation, Hyderabad</div>
                    </div><!--//meta-->
                    <div class="details">
						<ul>
							<li>Conduct A/B tests to measure/ improve performance of UI/UX and KPI.</li>
							<li>Implemented a Logistic regression POC to access risk index of new customer to diseases.</li>
							<li>Assisting clients in creating Move it FTP jobs to importing data from client location to local server.</li>
							<li>Build data pipelines that import data from local server to IBM Z/OS, validates input data and rejects / recycles / processes payments for claims in data using stored procedures written in COBOL.</li>
							<li>Requirement gathering by having daily meetings with project sponsors and stakeholders to understand business problem.</li>
							<li>Monitoring / managing / improving the Job Schedules.</li>
						</ul>
                    </div><!--//details-->
                </div><!--//item-->
                
            </section><!--//section-->