<section class="section projects-section">
                <h2 class="section-title"><i class="fa fa-archive"></i>Projects</h2>
                <div class="intro">
                    <p></p>
                </div><!--//intro-->
                <div class="item">
                    <span class="project-title"><a href="https://github.com/prudhv16/AI-Assignment-Solutions/tree/master/implement%208%20queens">N-Queens and N-Rooks</a></span> - <span class="project-tagline">
					Design and Implementation of N-Queens and N-Rooks problem using BFS, DFS, A*(A Star) Search Techniques.</span>
                    
                </div><!--//item-->
                <div class="item">
                    <span class="project-title"><a href="https://github.com/prudhv16/AI-Assignment-Solutions/blob/master/riteagar-vindana-jainanur-a1/a1-2.pdf" target="_blank">Routing</a></span> - 
                    <span class="project-tagline">Design and Implementation of determining best routing option based on segments, distance, time and scenic criteria between given pair of cities using BFS, DFS, IDS, A* Search Techniques.</span>
                </div><!--//item-->
                <div class="item">
                    <span class="project-title"><a href="https://github.com/prudhv16/AI-Assignment-Solutions/blob/master/jainanur-vindana-rdandona-a2/a2.pdf" target="_blank">Adversarial AI</a></span> - <span class="project-tagline">Implementation of adversarial games like Tetris and nkcohcoh games using alpha-beta pruning and minimax algorithms. </span>
                </div><!--//item-->
                <div class="item">
                    <span class="project-title"><a href="https://github.com/prudhv16/AI-Assignment-Solutions/blob/master/rdandona-sidpagad-vindana-a5/a5.pdf" target="_blank">Image Orientation detection</a></span> - <span class="project-tagline">•	Designed and implementation of KNN to train / predict orientation (multiclass problem) of input image using accuracy and Confusion matrix as metric. Compared its performance with implementation of Adaboost, Neural network models results generated for the same problem and comparing its result with the results from KNN.</span>
            </section><!--//section-->