<!-- Use icons from fontawesome when you are adding new item in the contact list  -->             

                 
     <div class="sidebar-wrapper">
            <div class="profile-container">
                <img class="profile-img" src="/assets/images/vindana.png" alt="profile picture" />
                <h1 class="name">Venkata Prudhvi Raj Indana</h1>
                <h3 class="tagline">Data Science and Advanced Analytics Professional</h3>
            </div><!--//profile-container-->
            
            <div class="contact-container container-block">
                <ul class="list-unstyled contact-list">
                   
                    <li class="email"><i class="fa fa-envelope"></i><a href="mailto:Vindana@umail.iu.edu">Vindana@umail.iu.edu</a></li>
                  
                    <li class="phone"><i class="fa fa-phone"></i><a href="tel:+1 812 650 8032">+1 812 650 8032</a></li>
                 
                    <li class="linkedin"><i class="fa fa-linkedin"></i><a href="https://www.linkedin.com/in/prudhv16" target="_blank">linkedin.com/in/prudhv16</a></li>
                    
                    <li class="github"><i class="fa fa-github"></i><a href="https://github.com/prudhv16" target="_blank">github.com/prudhv16</a></li>
                    
                </ul>
            </div><!--//contact-container-->
           {% include education.html %}
           {% include language.html %}
           {% include interests.html %}
        
            
        </div><!--//sidebar-wrapper-->